In [3]:
import pandas as pd
import statsapi

In [30]:
statsapi.lookup_player('alex gonzales')

[]

In [3]:
player_list = pd.read_csv('playerid_list.csv', encoding='latin-1')

In [4]:
player_df = pd.DataFrame(player_list)[['LASTNAME','FIRSTNAME','MLBCODE']].dropna()
player_df.head()

  LASTNAME FIRSTNAME   MLBCODE
0   Ausmus      Brad  110385.0
1  Bagwell      Jeff  110432.0
2  Berkman     Lance  204020.0
3   Biggio     Craig  110987.0
4     Blum     Geoff  150398.0

In [52]:
altuve = pd.read_html('https://baseballsavant.mlb.com/savant-player/jose-altuve-514888')

In [60]:
altuve[2]

,Unnamed: 0,Season,Tm,LG,G,PA,AB,R,H,2B,...,RBI,BB,SO,SB,CS,HBP,AVG,OBP,SLG,OPS
0,NaN,2011,HOU,NL,57,234,221,26,61,10,...,12,5,29,7,3,2,0.276,0.297,0.357,0.654
1,NaN,2012,HOU,NL,147,630,576,80,167,34,...,37,40,74,33,11,6,0.290,0.340,0.399,0.740
2,NaN,2013,HOU,AL,152,672,626,64,177,31,...,52,32,85,35,13,2,0.283,0.316,0.363,0.678
3,NaN,2014,HOU,AL,158,707,660,85,225,47,...,59,36,53,56,9,5,0.341,0.377,0.453,0.830
4,NaN,2015,HOU,AL,154,689,638,86,200,40,...,66,33,67,38,13,9,0.313,0.353,0.459,0.812
5,NaN,2016,HOU,AL,161,717,640,108,216,42,...,96,60,70,30,10,7,0.338,0.396,0.531,0.928
6,NaN,2017,HOU,AL,153,662,590,112,204,39,...,81,58,84,32,6,9,0.346,0.410,0.547,0.957
7,NaN,2018,HOU,AL,137,599,534,84,169,29,...,61,55,79,17,4,6,0.316,0.386,0.451,0.837
8,NaN,2019,HOU,AL,124,548,500,89,149,27,...,74,41,82,6,5,3,0.298,0.353,0.550,0.903
9,NaN,9 Seasons,NaN,NaN,1243,5458,4985,734,1568,299,...,538,360,623,254,74,49,0.315,0.364,0.463,0.827