In [230]:
import pandas as pd
import statsapi
from pprint import pprint
import requests
from bs4 import BeautifulSoup

In [245]:
espn_url = "https://www.espn.com/mlb/war/leaders/_/type/seasonal/year/20"

In [246]:
year_list = ['19', '18', '17', '16', '15', '14', '13', '12', '11', '10']
df_list = []

In [247]:
for year in year_list:
    query_url = espn_url+year
    qdfl = pd.read_html(query_url)
    qdfl[0]['season'] = year
    df_list.append(qdfl[0])

In [248]:
data = pd.concat(df_list)
data.head()

,0,1,2,3,4,5,6,7,8,9,season
0,2019 Season WAR Leaders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
1,RK,PLAYER,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,19
2,1,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19
3,2,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19
4,3,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19

In [249]:
cols = ['rank', 'player', 'WAR', 'OFF', 'DEF', 'WAA', 'TRPG', 'ORPG', 'RAA', 'WAAWP', 'Season']

In [250]:
data.columns = cols
del data['rank']
data.head()

           player  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP Season
0             NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN    NaN     19
1          PLAYER  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP     19
2  Cody Bellinger    9  6.6  1.9    7     5   4.7  72.9    0.5     19
3    Alex Bregman  8.4  7.7  1.2  6.1   5.3     5    62    0.5     19
4      Mike Trout  8.3  8.3  0.3  6.3   5.5     5  65.7    0.5     19

In [251]:
data = data.dropna(subset=['player'])

In [252]:
data = data[~data.player.str.contains("WAR")]

In [253]:
data.head()

           player  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP Season
1          PLAYER  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP     19
2  Cody Bellinger    9  6.6  1.9    7     5   4.7  72.9    0.5     19
3    Alex Bregman  8.4  7.7  1.2  6.1   5.3     5    62    0.5     19
4      Mike Trout  8.3  8.3  0.3  6.3   5.5     5  65.7    0.5     19
5   Marcus Semien  8.1  7.5  1.5  5.8   5.3     5  58.5    0.5     19

In [254]:
# new data frame with split value columns 
new = data["player"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data["First Name"]= new[0] 
data["Last Name"]= new[1] 
  
data = data.drop(data.index[0])
data.reset_index()
data.head()

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19,Cody,Bellinger
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19,Alex,Bregman
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19,Mike,Trout
5,Marcus Semien,8.1,7.5,1.5,5.8,5.3,5,58.5,0.5,19,Marcus,Semien
6,Justin Verlander,7.8,0,0,5.8,5,3.4,56.6,0.7,19,Justin,Verlander

In [255]:
data.drop_duplicates(subset ="player", keep = False, inplace = True)

In [256]:
data.to_csv('player_list.csv')

In [204]:
# player_list = pd.read_csv('playerid_list.csv', encoding='latin-1')
# player_df = pd.DataFrame(player_list)[['LASTNAME','FIRSTNAME','MLBCODE']].dropna()

In [205]:
# new_data = pd.merge(data, player_df,  how='left', left_on=['First Name','Last Name'], right_on = ['FIRSTNAME','LASTNAME'])

In [212]:
test1 = data['Last Name'].str[0:5]
test2 = data['First Name'].str[0:2]
test3 = test1+test2

test5 = []
for id in test3:
    test4 = id.lower()+'01'
    test5.append(test4)


data['br_id'] = test5

test6 = data['br_id'].str[0]
data['first_letter'] = test6

In [213]:
data.head(3)

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name,first_letter,br_id
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19,Cody,Bellinger,b,bellico01
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19,Alex,Bregman,b,bregmal01
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19,Mike,Trout,t,troutmi01

In [214]:
query_url = []
for index, row in data.iterrows():
#     print(row['br_id'])
    url = 'https://www.baseball-reference.com/players/'+ row['first_letter'] + '/' + row['br_id'] + '.shtml'
    query_url.append(url)
    
data['url'] = query_url
data.head(3)

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name,first_letter,br_id,url
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19,Cody,Bellinger,b,bellico01,https://www.baseball-reference.com/players/b/b...
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19,Alex,Bregman,b,bregmal01,https://www.baseball-reference.com/players/b/b...
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19,Mike,Trout,t,troutmi01,https://www.baseball-reference.com/players/t/t...

In [217]:
data = data.reset_index()

In [218]:
data['url'][0]

'https://www.baseball-reference.com/players/b/bellico01.shtml'

In [229]:
test_df = pd.read_html('https://www.baseball-reference.com/players/b/bellico01.shtml#batting_value::none')
test_df[0]

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,2013,17,LAD-min,Rk,47,195,162,25,34,9,6,1,30,3,3.000,31.000,46.000,0.210,0.340,0.358,0.698,NaN,58,0,1,1.0,0.0,0,NaN,DGR · ARIZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,18,LAD-min,Rk,51,233,215,51,67,14,6,3,34,8,0.000,15.000,40.000,0.312,0.352,0.474,0.826,NaN,102,6,0,0.0,3.0,0,NaN,"OGD,DGR · PION,ARIZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,19,LAD-min,A+,128,544,478,97,126,33,4,30,103,10,2.000,52.000,150.000,0.264,0.336,0.538,0.873,NaN,257,7,4,2.0,8.0,1,NaN,RCU · CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,20,LAD-min,"AA,AAA",117,477,410,66,111,17,1,26,71,8,2.000,60.000,94.000,0.271,0.365,0.507,0.872,NaN,208,2,3,0.0,4.0,2,NaN,"TUL,OKC · TL,PCL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,21,LAD-min,"AAA,Rk",19,81,70,16,24,4,0,6,19,7,0.000,9.000,23.000,0.343,0.420,0.657,1.077,NaN,46,0,1,0.0,1.0,1,NaN,"OKC,DGR · PCL,ARIZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017,21,LAD,NL,132,548,480,87,128,26,4,39,97,10,3.000,64.000,146.000,0.267,0.352,0.581,0.933,143.0,279,5,1,0.0,3.0,13,37/98D,"AS,MVP-9,RoY-1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018,22,LAD,NL,162,632,557,84,145,28,7,25,76,14,1.000,69.000,151.000,0.260,0.343,0.470,0.814,120.0,262,7,3,0.0,3.0,9,*38/97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019,23,LAD,NL,156,661,558,121,170,34,3,47,115,15,5.000,95.000,108.000,0.305,0.406,0.629,1.035,169.0,351,10,3,0.0,4.0,21,*938,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3 Yrs,450,1841,1595,292,443,88,14,111,288,39,9,228,405,0.278,0.368,0.559,0.928,144.000,892.000,22.000,7.0,0,10,43,NaN,NaN,162 Game Avg.,162,663,574.0,105.0,159.0,32.0,5.0,40.0,104.0,14.0,3.0,82.0,146.0,0.278,0.368,0.559,0.928,144.0,321.0,8.0,3.0,0.0,4.0,15.0,NaN,NaN

In [221]:
url = data['url'][0]
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
tables = soup.find_all('table')

In [228]:
pd.read_html(str(tables),index_col=0)[0]

,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2013,17,LAD-min,Rk,47,195,162,25,34,9,6,1,30,3,3.000,31.000,46.000,0.210,0.340,0.358,0.698,NaN,58,0,1,1.0,0.0,0,NaN,DGR · ARIZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,18,LAD-min,Rk,51,233,215,51,67,14,6,3,34,8,0.000,15.000,40.000,0.312,0.352,0.474,0.826,NaN,102,6,0,0.0,3.0,0,NaN,"OGD,DGR · PION,ARIZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,19,LAD-min,A+,128,544,478,97,126,33,4,30,103,10,2.000,52.000,150.000,0.264,0.336,0.538,0.873,NaN,257,7,4,2.0,8.0,1,NaN,RCU · CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,20,LAD-min,"AA,AAA",117,477,410,66,111,17,1,26,71,8,2.000,60.000,94.000,0.271,0.365,0.507,0.872,NaN,208,2,3,0.0,4.0,2,NaN,"TUL,OKC · TL,PCL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,21,LAD-min,"AAA,Rk",19,81,70,16,24,4,0,6,19,7,0.000,9.000,23.000,0.343,0.420,0.657,1.077,NaN,46,0,1,0.0,1.0,1,NaN,"OKC,DGR · PCL,ARIZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,21,LAD,NL,132,548,480,87,128,26,4,39,97,10,3.000,64.000,146.000,0.267,0.352,0.581,0.933,143.0,279,5,1,0.0,3.0,13,37/98D,"AS,MVP-9,RoY-1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,22,LAD,NL,162,632,557,84,145,28,7,25,76,14,1.000,69.000,151.000,0.260,0.343,0.470,0.814,120.0,262,7,3,0.0,3.0,9,*38/97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,23,LAD,NL,156,661,558,121,170,34,3,47,115,15,5.000,95.000,108.000,0.305,0.406,0.629,1.035,169.0,351,10,3,0.0,4.0,21,*938,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3 Yrs,450,1841,1595,292,443,88,14,111,288,39,9,228,405,0.278,0.368,0.559,0.928,144.000,892.000,22.000,7.0,0,10,43,NaN,NaN,162 Game Avg.,162,663,574.0,105.0,159.0,32.0,5.0,40.0,104.0,14.0,3.0,82.0,146.0,0.278,0.368,0.559,0.928,144.0,321.0,8.0,3.0,0.0,4.0,15.0,NaN,NaN

## Everything below here is not working yet:

#### Trying to loop through players list to pull id's but getting an IndexError: list index out of range

IndexError: list index out of range

In [60]:
# for i in players:
#     pprint(i[0]['id'])

#### testing length/range of player list

In [55]:
# statsapi.lookup_player('Adrian Beltre')

[]

In [61]:
# pd.set_option('display.max_rows', 500) 
# data

In [49]:
range(len(players))

range(0, 500)

#### list comprehension to pull id's into list

In [ ]:
player_ids = [players[i]['id'] for range(len(players))]

#### adding id's to DF

In [ ]:
data['id'] = player_ids

#### creating empty list for records to be added into mongo

In [64]:
mongo_list = []

#### loop to get stat data

In [65]:
# for i in data.index:

    #creating url to scrape from ESPN
#query_url = 'http://www.espn.com/mlb/player/stats/_/id/' + data['id'][i] + '/' + data['First Name'][i] + '-' + data['Last Name'][i]
query_url = 'http://www.espn.com/mlb/player/stats/_/id/30836/mike-trout'
#add results to temporary df
temp_df = pd.read_html(query_url)
#above returns a list of dfs, this line pulls the df that contains the stat table
stat_df = temp_df[1]
#dropping the blank row at the top and the summary row at the bottom
stat_df.drop(stat_df.tail(1).index,inplace=True)
stat_df.drop(stat_df.head(1).index,inplace=True)
#turning the df into a dictionary and adding to the mongo listS
mongo_list.append(stat_df.to_dict('series'))

In [161]:
# mongo_list

## To Do:
 ### Add player ids
 ### add links to photos
 ### scrape espn data